:root {
  --main-bg: #f2f1f0;
  --btn: #59313b;
  --footer: #ded9d5;
  --cards: #fafafa;
  --text: #40393b;
  --default-gray: #e9e9ed;
  --merri: 'Merriweather', serif;
  --sans: 'Source Sans 3', sans-serif;
}

@media only screen and (max-width: 1500px) {
  .wrapper {
    max-width: 95%;
    margin: auto;
  }

  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  #cards_loader {
    grid-column: 2/4;
  }
}

@media only screen and (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  #cards_loader {
    grid-column: 2/3;
  }
}

@media only screen and (max-width: 900px) {
  .cards {
    gap: 20px;
  }
}

@media only screen and (max-width: 820px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  #cards_loader {
    grid-column: 1/3;
  }

  .filter {
    grid-template-columns: auto;
  }

  .select-wrapper {
    flex-wrap: nowrap;
  }

  .select-wrapper:last-child::before {
    right: 25%;
    bottom: 35px;
  }

  .filter-item {
    order: -1;
  }

  .btn_filter {
    width: 140px;
  }
}

@media only screen and (max-width: 798px) {
  .nav {
    position: relative;
    grid-template-columns: 70px 0 1fr 70px;
  }

  .nav_footer {
    justify-content: center;
  }

  .logo,
  .icons8-link,
  .footer .menu {
    display: none;
  }

  .link.cart {
    justify-self: center;
  }

  .menu {
    gap: 35px;
    height: 0;
  }

  .navigation-mobile {
    justify-self: center;
    display: inline-block;
    position: relative;
    z-index: 10;
    width: 40px;
    height: 25px;
    cursor: pointer;
    border-bottom: 2px #000 solid;
  }

  .navigation-mobile span {
    position: absolute;
    top: 7px;
    left: 0;
  }

  .navigation-mobile span,
  .navigation-mobile span::before,
  .navigation-mobile span::after {
    display: block;
    width: 40px;
    height: 2px;
    background-color: #000;
    transition-property: background-color, transform;
    transition-duration: 0.3s;
  }

  .navigation-mobile span::before,
  .navigation-mobile span::after {
    position: absolute;
    content: '';
  }

  .navigation-mobile span::before {
    top: -8px;
  }

  .navigation-mobile span::after {
    top: 8px;
  }

  .clicked span::before {
    transform: translateY(9px) rotate(45deg);
  }

  .clicked span::after {
    transform: translateY(-9px) rotate(-45deg);
  }

  .clicked span,
  .clicked,
  .clicked:hover,
  .clicked:hover span {
    background-color: transparent;
    border-color: transparent;
  }

  .nav.show {
    grid-template-columns: 150px 1fr 150px;
    transform: translateX(0px);
  }

  .menu-item {
    transform: translateX(-380px);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .nav.show .menu-item {
    transform: translateX(0px);
    opacity: 1;
  }

  .nav.show .menu-item:nth-child(1) {
    transition-delay: 0.15s;
  }

  .nav.show .menu-item:nth-child(2) {
    transition-delay: 0.3s;
  }

  .nav.show .menu-item:nth-child(3) {
    transition-delay: 0.45s;
  }

  .nav.show .menu {
    position: absolute;
    height: auto;
    top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    padding: 30px 10px;

    background-color: var(--btn);
  }

  .nav.show .menu .link {
    color: var(--footer);
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .cards-item {
    max-width: 300px;
    margin: auto;
  }

  .select-wrapper {
    flex-wrap: wrap;
    justify-content: flex-end;

    max-width: 90%;
    margin: auto;
  }

  .select-wrapper:last-child::before {
    right: 5%;
    bottom: 100px;
  }
}
